<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

	<import resource="application-context.xml" />

	<bean id="cricketer" class="com.arun.bean.Cricketer"></bean>
	<bean id="multiReader"
		class="org.springframework.batch.item.file.MultiResourceItemReader">
		<property name="resources" value="file:csv/input/batch-*.csv"></property>
		<property name="delegate" ref="reader"></property>
	</bean>

	<bean id="reader" class="org.springframework.batch.item.file.FlatFileItemReader">
		<property name="lineMapper">
			<bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
				<property name="lineTokenizer">
					<bean
						class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer">
						<property name="names" value="name,country,score,noMatches"></property>
					</bean>
				</property>
				<property name="fieldSetMapper">
					<bean
						class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper">
						<property name="prototypeBeanName" value="cricketer"></property>
					</bean>
				</property>

			</bean>
		</property>
	</bean>

	<bean id="processor" class="com.arun.processor.CricketProcessor"></bean>
	<bean id="writer" class="com.arun.writer.CricketWriter"></bean>
	
	<!-- beans for step 2 for writing to an xml file -->
	<bean id="reader1" class="com.arun.reader.CricketReaderForXML" scope="step">
		<constructor-arg ref="writer"></constructor-arg>
	</bean>
	
	<bean id="writer1" class="org.springframework.batch.item.xml.StaxEventItemWriter">
		<property name="resource" value="file:csv/xml/batch-file-all.xml"></property>
		<property name="rootTagName" value="record"></property>
		<property name="marshaller">
			<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
				<property name="classesToBeBound">
					<list>
						<value>com.arun.bean.Cricketer</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>

	<batch:job id="cricketJob">
		<batch:step id="step1" next="step2">
			<batch:tasklet transaction-manager="transactionManager">
				<batch:chunk reader="multiReader" processor="processor"
					writer="writer" commit-interval="1"></batch:chunk>
			</batch:tasklet>
		</batch:step>
		<batch:step id="step2">
			<batch:tasklet transaction-manager="transactionManager">
				<batch:chunk reader="reader1" writer="writer1" commit-interval="1"></batch:chunk>
			</batch:tasklet>
		</batch:step>
	</batch:job>
</beans>
